*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error{
    color: red;
}